# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Secrets
.env
.env.*
*.pem
*.key
*.crt

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Kubernetes local files
*.kubeconfig

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Build output
dist/
build/
